<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudantes por linguagem</title>
</head>
<body>
    <p>Java
    </p>
    <ul>
        <li th:each="estudante:${estudantesJava}">
            <span
                th:text="${estudante.primeiroNome} +' '+ ${estudante.ultimoNome} "/>
        </li>
    </ul>
    <p>Numero de estudantes: <span th:text="${estudantesJava.size()}" /></p>
    <br>
    <p>C</p>
    <ul>
        <li th:each="estudante:${estudantesC}">
            <span
                th:text="${estudante.primeiroNome} +' '+ ${estudante.ultimoNome} "/>
        </li>
    </ul>
    <p>Numero de estudantes: <span th:text="${estudantesC.size()}" /></p>    <br>
    <p>Python</p>
    <ul>
        <li th:each="estudante:${estudantesPython}">
            <span
                th:text="${estudante.primeiroNome} +' '+ ${estudante.ultimoNome} "/>
        </li>
    </ul>
    <p>Numero de estudantes: <span th:text="${estudantesPython.size()}" /></p>    <br>
    <p>Js</p>
    <ul>
        <li th:each="estudante:${estudantesJs}">
            <span
                th:text="${estudante.primeiroNome} +' '+ ${estudante.ultimoNome} "/>
        </li>
    </ul>
    <p>Numero de estudantes: <span th:text="${estudantesJs.size()}" /></p>    <br>
    <br><br>
    <a href="getListaEstudantes">Ver lista de estudantes</a><br>
    <a href="getListaEstudantesPorCurso">Ver lista de estudantes por curso</a><br>
    <a href="showForm">Formulário de estudantes</a><br>
</body>
</html>